<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="layout(container)">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" th:href="@{/uikit.min.css}">
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/uikit.min.js}"></script>
    <script th:src="@{/uikit-icons.min.js}"></script>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:replace="${container}"></div>

<div th:replace="~{fragments/footer ::footer}"></div>

</body>
</html>